<div class="centered-content">
    <div class="task-manager-container">
  
      <div class="sidebar has-background-white">
        <button class=" button is-primary" style="margin-top: -30px;" (click)="onLogout()">Se déconnecter</button>
        <hr>
        <h1 class="title" style="color: black;">
          Mes Listes
        </h1>
  
        <div class="list-menu">
          <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
            <p>{{ list.title }}</p>
          </a>
  
        </div>
  
        <button class="button has-text-white" routerLink="/new-list">Créer une liste</button>
  
      </div>
  
      <div class="task-list-container has-background-light">
        <div *ngIf="tasks">
          <div class="top-bar">
            <h1 class="title" style="color: black">
              Mes tâches
            </h1>
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  Options
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                    Modifier la liste
                  </a>
                  <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                    Supprimer la liste
                  </a>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Task Elements -->
          
          <div>
            <h4 style="font-weight: bold; color: black;" *ngIf="tasks.length > 0">Tâches à réaliser</h4>
            <div *ngFor="let task of tasks" (click)="onTaskClick(task._id);">
              <div class="task" *ngIf="task.completed == false" [ngClass]="{ 'completed': task.completed }">
              
                <div class="task-text" (click)="dialog.showModal()">
                  <p>{{ task.title }}</p>
                </div>
                <div class="task-buttons">
      
                  <button class="button is-small has-background-white" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                    <img src="../../../assets/edit.png" width="20" height="20" class="has-text-white">
                  </button>
      
                  <button class="button is-small has-background-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
                    <img src="../../../assets/trash.webp" width="20" height="20" class="has-text-white">
                  </button>
                  <button class="button is-small has-background-light" (click)="onToggleTaskStatus(task)" style="margin-left: 10px;">
                    <img src="../../../assets/not-yet.svg" width="20" height="20" class="has-text-white">
                  </button>
                </div>
            </div>
            </div>
          </div>
          <div>
            <h4 style="color: black; font-weight: bold;  margin-top: 10px;" *ngIf="tasks.length > 0">Tâches termininées</h4>
            <div *ngFor="let task of tasks" (click)="onTaskClick(task._id);">
              <div class="task" *ngIf="task.completed == true" [ngClass]="{ 'completed': task.completed }">
              
                <div class="task-text" (click)="dialog.showModal()">
                  <p>{{ task.title }}</p>
                </div>
                <div class="task-buttons">
      
                  <button class="button is-small has-background-white" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                    <img src="../../../assets/edit.png" width="20" height="20" class="has-text-white">
                  </button>
      
                  <button class="button is-small has-background-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
                    <img src="../../../assets/trash.webp" width="20" height="20" class="has-text-white">
                  </button>
                  <button class="button is-small has-background-light" (click)="onToggleTaskStatus(task)" style="margin-left: 10px;">
                    <img src="../../../assets/done.webp" width="20" height="20" class="has-text-white">
                  </button>
                </div>
            </div>
            </div>
          </div>

          <h3 class="empty-state-text" *ngIf="tasks.length === 0"> Pas de tâches pour le moment ! Ajouter une nouvelle tâche</h3>
  
          <button routerLink="./new-task" class="circle-add-button button">
            <img src="../../../assets/plus-icon.svg" class="has-text-white">
          </button>
        </div>
  
        <div *ngIf="!tasks">
          <h3 class="empty-state-text">Dans la section "Mes Listes" choisir une liste de tâches à afficher</h3>
        </div>
  
      </div>
  
    </div>
  </div>

  <dialog #dialog style="border-radius: 10px; width: 600px" class="has-background-white">
    <div class="container"> 
      <div class="card has-background-white"> 
          <div class="card-header"> 
              <p class="is-size-3"> 
                  <b> {{ title }} </b> 
              </p> 

          </div>
          <div class="card-content"> 
            <blockquote>
                <p>
                  {{ detail }}
                </p>
              </blockquote> 
          </div> 

          <div class="card-footer"> 
              <a class="card-footer-item"> 
                  créé le : {{ createdAt | date: 'd-MM-yy'}}
              </a> 
              <a class="card-footer-item"> 
                  Délai : {{ dueDate | date: 'd-MMM-yy' }} 
              </a> 
              <a class="card-footer-item" (click)="dialog.close()"> 
                  fermer 
              </a> 
          </div> 
      </div> 
  </div> 
  </dialog>