<div class="centered-content">
    <div class="modal-box">
      <h1 class="title" style="color: black;">
        Nouvelle Liste
      </h1>
  
      <input #listTitleInput class="input has-background-white has-text-black is-medium" type="text" placeholder="Enter list name...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/lists">Annuler</button>
        <button class="button has-text-white is-medium" (click)="createList(listTitleInput.value)">Créer</button>
      </div>
  
      
    </div>
  </div>