  <div class="centered-content">
    <div class="modal-box">
      <h1 class="title" style="color: black; margin-bottom: 10px;">
        Nouvelle Tâche
      </h1>
  
      <input #taskTitleInput class="input has-background-white has-text-black is-medium" type="text" placeholder="Titre de la tâche" style="margin-bottom: 20px;">
      <textarea #taskDetailInput type="text" class="textarea has-background-white has-text-black " type="text" placeholder="Détail de la tâche" style="margin-bottom: 20px;"></textarea>
      <input #taskDueDateInput class="input has-background-white has-text-black is-medium" type="date" placeholder="Date d'échéance">
      <!-- <input type="date" #taskDueDateInput data-display-mode="inline" data-is-range="true" data-close-on-select="false"> -->

      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/lists">Annuler</button>
        <button class="button has-text-white is-medium" (click)="createTask(taskTitleInput.value, taskDetailInput.value, taskDueDateInput.valueAsDate!)">Créer</button>
      </div>
    </div>
  </div>