<div class="centered-content">
    <div class="white-box">
  
      <h1 class="title has-text-primary">Sign up</h1>
      
      <div class="field mb-4 mt-4">
        <p class="control has-icons-left has-icons-right">
          <input #emailInput class="input has-background-white has-text-black" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field mb-4 mt-2">
        <p class="control has-icons-left">
          <input #pwInput class="input has-background-white has-text-black" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field mb-2 mt-2" style="display: flex; justify-content: flex-end;">
        <p class="control">
          <button class="button is-success has-text-white" (click)="onSignupButtonClicked(emailInput.value, pwInput.value)">
            Sign up
          </button>
        </p>
      </div>
      <br>
  
      <p class="has-text-grey">Already got an account? <a routerLink="/login">Login</a> now!</p>
  
    </div>
  </div>